* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}


body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 75px;
  background: #FFF;
  padding: 10px; 
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.title{
  color: #171717;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
}

.subtitle{
  color: #171717;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
}

.currentCanidate {
  min-height: 300px;
  background-image: url("./leavesbackground.jpg");
  background-color: rgba(5, 105, 97, 0.8); /* Tint color */
  background-blend-mode: multiply;
  padding: 15px;
}

.canidateName {
  font-size: 32px;
  margin-top: 10px;
}

.currentCanidate h2 {
  color: #F3F3F3;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}

.currentCanidate .profilePic {
  height: 200px;
}


.currentCanidate h3 {
  color: #F3F3F3;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding-top: 5px;
}

.images {
  margin: auto;
  display:inline-block;
}

.currentCanidate .btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentCanidate .canidateButton {
  width: 200px;
  height: 35px;
  margin: 10px;
  background: #FFCE00;
  border: none;
  outline: none;
  color: #171717;
  font-weight: 700;
  cursor: pointer;
}

.currentCanidate .canidateButton:active {
  background: #F7A800;
}

.villagerRoster {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-flow: column;
}

.villagerList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
  margin-bottom: 4%;
}

.villagerList .villager {
  position: relative;
  display: flex;
  flex-flow: column;
  min-height: 150px;
  padding: 15px;
  background: #F3F3F3;
}

.villagerList .villager .remove {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: firebrick;
  color: #F3F3F3;
  font-size: 28px;
  cursor: pointer;
}

.villagerContent {
  width: 100%;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin:auto;
  padding-bottom: 15px;
  justify-content: center;
}

.canidateDetails {
  font-size: 20px;
  color: #F3F3F3;
  font-weight: 300;
  text-align: left;
  padding-left: 2%;
}

.personalityDetails {
  font-size: 20px;
  color: #F3F3F3;
  font-weight: 300;
  text-align: left;
  padding-left: 2%;
}

.listTitle {
  font-weight: 600;
  text-align: left;
}

.villagerIcon {
  height: 60px;
}

.nameAndIcon {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.moreInfo {
  width: 100px;
  height: 35px;
  background: #FFCE00;
  border: none;
  outline: none;
  color: #171717;
  font-weight: 700;
  cursor: pointer;
}

.personalityList {
  width: 120%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  font-size: 14px;
  margin-bottom: 15px;
}

.detailsPic {
  height: 250px;
}

.modal {
  width: 75%;
  background-color: rgb(54, 43, 43);
  display: block;
  position: relative;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom:5px;
}

.modal h4 {
  font-weight: 600;
  padding-top: 10px;
  margin: 0;
  color: white;
}

.modalSubtext {
  color: white;
}

.searchButton {
  padding: 5px;
  border: none;
  background-color: green;
  color: white;
}

.appHeader {
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.centerHead {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  padding-right: 10%;
}

.searchPrompt {
  color: white;
}

.searchResult {
  color: white;
}

.noResults {
  color: white;
  padding-top: 20px;
  font-weight: 600;
}

.spinner {
  position: relative;
  height: 200px;
}

